@rendermode InteractiveServer

<div class="row">
    <div class="col-5 col-md-3 text-end">Titulo :</div>
    <div class="col-7 col-md-9">1</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Descrição :</div>
    <div class="col-7 col-md-9">1</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Data de Entrega :</div>
    <div class="col-7 col-md-9">1</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Dificuldade :</div>
    <div class="col-7 col-md-9">1</div>
</div>