@inherits LayoutComponentBase
@inject NavigationManager _navigationManager;


<div class="page">
    

    <main>
        <nav class="navbar navbar-light bg-light">
             
            

            <a class="navbar-brand" href="/home">
                <img src="https://static.vecteezy.com/system/resources/previews/004/899/584/non_2x/simple-design-checklist-icon-free-vector.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                Taskerr
            </a>

            <a class="navbar-brand" href="/newTodo">Adicionar Tarefa</a>
            <a class="navbar-brand" href="/todoList">Lista de Tarefas</a>
            <a class="navbar-brand" href="/" style="color:red;">Logout</a>
            &nbsp;

        </nav>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    void logout() {
        Auth.isAuthd = false;
        _navigationManager.NavigateTo("/");
        return;
    }
}

<!--

        <div class="sidebar">
            <NavMenu />
        </div>

        <button @onclick="logout">Fazer Logout</button>

        <div class="top-row px-4">
            john
    
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            
        </div>
-->