@page "/newTodo"
@rendermode InteractiveServer
@inject TarefaService TarefaService

@if (!Auth.isAuthd) {
    
    <p>Usuário não autentificado!</p>
} else {
    <h3>Adicionar nova Tarefa</h3>

    <p>Titulo:</p>      <input autofocus class="form-control input-sm" @bind="newTodoTitle"/> <p />
    <p>Descrição:</p>   <textarea class="form-control input-lg" style="height:85px" @bind="newTodoDesc"/> <p />
    <p>Data De Entrega:</p> <input class="form-control input-sm" type="datetime-local" @bind="newTodoDueDate"/> <p />
    <p>Dificuldade:</p>   <input class="form-control input-sm" @bind="newTodoDificulty"/> <p />


    <button class="btn btn-primary" @onclick="addTodo">Adicionar tarefa! </button>

    @code {

        
        private List<TodoItemCompleto> todos = new();
        string newTodoTitle = "";
        string newTodoDesc = "";
        DateTime newTodoDueDate = DateTime.Now;
        string newTodoUser = "";
        string newTodoDificulty = "";


        async void addTodo() {
            await TarefaService.AddTarefaAsync(new TodoItemCompleto{
                Title = newTodoTitle,
                Description = newTodoDesc,
                DueDate = newTodoDueDate,
                User = newTodoUser,
                Difficulty = newTodoDificulty,
                isDone = false
            });
        }
    }
}

