@page "/newTodo"
@rendermode InteractiveServer
@if (!Auth.isAuthd) {
    
    <p>Usuário não autentificado!</p>
} else {
    <h3>Adicionar nova Tarefa</h3>

    <p><b>Titulo:</b></p>      <input autofocus class="form-control input-sm" @bind="newTodoTitle"/> <p />
    <p><b>Descrição:</b></p>   <textarea class="form-control input-lg" style="height:85px" @bind="newTodoDesc"/> <p />
    <p><b>Data De Entrega:</b></p> <input class="form-control input-sm" type="datetime-local" @bind="newTodoDueDate"/> <p />
    <p><b>Dificuldade:</b></p>   <input class="form-control input-sm" @bind="newTodoDificulty"/> <p />


    <button class="btn btn-primary" @onclick="addTodo">Adicionar tarefa! </button>

    @code {
        private List<TodoItem> todos = new();
        string newTodoTitle = "";
        string newTodoDesc = "";
        DateTime newTodoDueDate = DateTime.Now;
        string newTodoUser = "";
        string newTodoDificulty = "";


        void addTodo() {
            TodoList.Add(new TodoItemCompleto{
                Title = newTodoTitle,
                Description = newTodoDesc,
                DueDate = newTodoDueDate,
                User = newTodoUser,
                Difficulty = newTodoDificulty,
                isDone = false
            });
        }
    }
}

