@page "/Home"

@if (!Auth.isAuthd) {
    
    <p>Usuário não autentificado!</p>
} else {

    <PageTitle>Home</PageTitle>

    <h1>Taskerr</h1>

    <p><i>O seu Hub de Tarefas!</i></p>
    <p>para a sua segurança, só é possível remover Tarefas que estejam completas!</p>
    }