@page "/Home"
@rendermode InteractiveServer
@using BlazorBootstrap


@if (!Auth.isAuthd) {
    
    <p>Usuário não autentificado!</p>
} else {

    <PageTitle>Home</PageTitle>

    <h1>Taskerr</h1>

    <p><i>Com o Tasker voce pode:</i></p>
    <p>✅Organizar suas tarefas do dia a dia</p>
    <p>✅Programar seus prazos</p>
    <p>✅Checar seus afazeres a qualquer momento</p>
    <p>✅Organizar seus finais de semana</p>
}