@page "/"
@layout LoginLayout
@rendermode InteractiveServer


@using BlazorApp.Components.Layout;
@inject NavigationManager _navigationManager;


<PageTitle>Login</PageTitle>

<h1>Lista-de-tarefa-inator</h1>

Faça Login abaixo para acessar suas tarefas. <p />

Username<p />
<input @bind="inUsername"/> <p />

Senha<p />
<input type="password" @bind="inPassword "/> <p /> <p />


<button class="btn btn-primary" @onclick="tryLogin">Fazer Login</button>
@if (!lastAttemptSucessfull) {
    <p>credenciais invalidas!</p>
}

@code {
    string inUsername = "";
    string inPassword = "";
    string adminUsername = "admin";
    string adminPassword = "Admin@ICAD!";
    bool lastAttemptSucessfull = true;

    void tryLogin() {
        if (inUsername.Equals(adminUsername) && inPassword.Equals(adminPassword)) {
            
            _navigationManager.NavigateTo("/home");
            return;
        }
        else {
            lastAttemptSucessfull = false;
        }
    }
}