@page "/"
@layout LoginLayout
@rendermode InteractiveServer

@using BlazorApp.Components.Layout;
@inject NavigationManager _navigationManager
@inject AuthService _authService // Injeção do AuthService para autenticação no banco de dados

<PageTitle>Login</PageTitle>

<h1>Taskerr Login</h1>

Faça Login abaixo para acessar suas tarefas. <p />

Username<p />
<input @bind="inUsername" /> <p />

Senha<p />
<input type="password" @bind="inPassword" /> <p /> <p />

<button class="btn btn-primary" @onclick="tryLogin">Fazer Login</button>
@if (!lastAttemptSucessfull) {
    <p class="text-danger">Credenciais inválidas!</p>
}

@code {
    string inUsername = "";
    string inPassword = "";
    bool lastAttemptSucessfull = true;

    // Método chamado ao tentar fazer login
    async Task tryLogin()
    {
        var usuario = await _authService.Login(inUsername, inPassword);

        if (usuario != null)
        {
            // Se a autenticação for bem-sucedida, armazene o estado de login
            Auth.isAuthd = true;

            // Navegue para a página principal após o login bem-sucedido
            _navigationManager.NavigateTo("/home");
        }
        else
        {
            // Caso as credenciais estejam incorretas
            lastAttemptSucessfull = false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Definir o estado inicial de autenticação
        Auth.isAuthd = false;
    }
}
